@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #282a2b;
}
.Name {
    cursor: pointer;
    color: rgba(255, 166, 65, 0.719);
    font-family: "Josefin Sans", sans-serif;
    margin-right: auto;
}
.navContent {
    list-style: none;
}
.navContent li {
    display: inline-block;
    padding: 0px 20px;
}
.navContent li a {
    transition: all 0.3s ease 0s;
}
.navContent li a:hover {
    color: rgb(255, 115, 0);
}
hr {
    color: rgb(255, 166, 65);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}
li, a, button {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f5f5f5;
    text-decoration: none;
}
button {
    border: none;
    border-radius: 50px;
    background-color:rgba(255, 166, 65, 0.719);
    padding: 9px 25px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-left: 20px;
}
button:hover {
    background-color: rgb(255, 115, 0);
}


